* {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.home{
    margin: 0;
}

.nav {
    /* background-color: blue; */
    /* border: 1px solid #622ac2; */
    width: 100%;
    height: 85px;
    box-shadow: 0px 0px 20px 0px black;
    display: flex;
    align-items: center;
    top: 0px;
    z-index: 1;
    position: sticky;
    background-color: white;
}

.logo {
    margin-left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    /* margin-top: 16px; */
    font-weight: bold;
    color:#622ac2;
}

.logo a{
    text-decoration: none;
    color:#622ac2;
}

.content {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    width: 400px;
    height: 100%;
    gap: 30px;
    font-size:19px;

}
.items {
    /* border: 1px solid black; */
    text-align: center;
    width: 100px;
    /* padding-left: 10px;
    padding-right: 10px; */
    
}
.items a{
    color:#606061 ;
    text-decoration: none;
}

.ls a{
   
    text-decoration: none;
    font-weight: bold;
}

.cred {
    /* border: 1px solid red; */
    width: 250px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12%;
    /* font-size: 20px;
    font-weight: bold; */

}



.dummy{
    height: 65px;
    width: 65px;
    border-radius: 35px;
    position: relative;
    border: 2px solid blueviolet;
}

.dummy a{
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid rebeccapurple; */
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: white;
}

.dummy img{
    width: 100%;
    height: 100%;
}

.dummy:hover{
    transform: scale(1.05);
    transition: 100ms;
    box-shadow: 0px 0px 10px #622ac2;
    border: 2px solid #622ac2;
}

.log{
    border: 2px solid #622ac2;
    background-color: #622ac2e6;
    position: absolute;
    height: 30px;
    width: 58px;
    border-radius: 20px 5px 5px 20px;
    top: 25%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.log a{
     font-size: 14px;
     background: none;
     display: flex;
     align-items: center;
     margin-left: 11px;
     color: white;
}

.sign{
    border: 2px solid #622ac2;
    background-color: #622ac2e6;
    position: absolute;
    font-size: 12px;
    height: 30px;
    width: 58px;
    border-radius: 5px 20px 20px 5px;
    top: 25%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sign a{
    font-size: 14px;
    background: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;

}

.dummy:hover .log{
    right: 90%;
    transition: 200ms;
}

.dummy:hover .sign{
    left: 90%;
    transition: 200ms;
}

/* 
.ls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.login a, .signin a{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

}

.login a{
    border: 1px solid #622ac2;
}

.signin a{
    background: linear-gradient(274.12deg,#8b68c9,#622ac2 101.74%);
    color: white;
}

.signin a:hover{
    box-shadow:0px 0px 10px #8b68c9;
    transform: scale(1.01);
    transition: 200ms;
}

.login a:hover{
    box-shadow:0px 0px 10px #8b68c9;
    transform: scale(1.01);
    transition: 200ms;
} */

.items a:hover{
    font-size: 20px;
    color: #622ac2;
    border-bottom: 2px solid #212529;
    transition: 200ms;
}

.footer {
    /* border: 1px solid red; */
    background-color: white;
    /* margin-top: 30px; */
    height: 180px;
    width: 100%;
    box-shadow: 0px 0px 25px 0px black;
    display: flex;
    justify-content: center;
}

.footer ul {
    background-color: white;
    display: flex;
    list-style-type: none;

}

.footer li {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 55px;
    font-size: 20px;
}

.footer li a {
    background-color: white;
    text-decoration: none;
    color: 6c757d;
}

.logoend {
    background-color: white;
    margin-top: 40px;
    font-size: 40px;
    color: 495057;
}

.socials {
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 110px;
    background-color: white;
}

.fa {
    /* border: 1px solid pink; */
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

.facebook,
.twitter,
.instagram,
.google {
    background-color: white;
}

.facebook a,
.twitter a,
.instagram a,
.google a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    background: white;
    color: #3B5998;
}

.fa-twitter {
    background: white;
    color: #55ACEE;
}

.fa-instagram {
    background: white;
    color: #125688;
}

.fa-google {
    background: white;
    color: #dd4b39;
}

.footer li a:hover {
    color: #dd4b39;
}

.head {
    background: npne;  
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-size: 60px;
    font-weight: bold;
    /* border: 1px solid red; */
    text-align: center;
    width: 700px;
    color: white;
}

.h2 {
    margin-top: 30px;
    font-size: 23px;
    /* border: 1px solid blue; */
    text-align: center;
    width: 830px;
    color: #b184ff;
}


.try {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 150px;
    height: 60px;
    margin-top: 40px;
    border-radius: 10px;

}

.try a{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: linear-gradient(274.12deg,#8b68c9,#622ac2 101.74%);
    color: white;
}


.try:hover {
    /* font-size: 21px; */
    /* box-shadow:0px 0px 10px #8b68c9; */
    transform: scale(1.05);
    transition: 200ms;
}

.main{
    /* z-index: 5; */
    position: relative;
}

.svg {
    position: absolute;
    /* z-index: 0; */
    /* border: 1px solid red; */
    width: 100%;
    /* position: absolute; */
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
    margin-top: 90px;
    /* border: 1px solid red; */
    width: 100%;
    height: 530px;

}

.l{
    /* border: 1px solid blue; */
    height: 100%;
    width: 960px;
}

.image img{
    height: 100%;
    width: 100%;
}

.why{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.why a{
    font-size: 40px;
}

.line{
    border: 1px solid #622ac2 ;
    height: 100%;

}

.butdiv{
    /* border: 1px solid red; */
    margin-top: 70px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but{
    /* border: 1px solid violet; */
    height: 100%;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but a{
    /* border: 2px solid blue; */
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 250px;
    border-radius: 10px;
    /* position: relative; */
  
}

.button1, .button2{
    /* border: 1px solid red; */
    /* margin: 0px 50px 0px 50px; */
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #4f00dc;
    /* border-bottom: 4px solid #4f00dc; */
    /* background-color: #dcc8ff; */
    
}

.button1 {
    background-color: #dcc8ff;
    border-bottom: 4px solid #4f00dc;

}

.live{
    /* border: 1px solid red; */
    margin-top: 40px;
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area{
    /* border: 1px solid blue; */
    width: 980px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    background: linear-gradient(11.52deg,rgba(94,0,255,.63) 26.56%,rgba(255,0,104,.63) 143.34%);
    overflow: hidden;
}

.area2{
    /* border: 5px solid purple; */
    width: 980px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    background: linear-gradient(11.52deg,rgba(94,0,255,.63) 26.56%,rgba(255,0,104,.63) 143.34%);
    overflow: hidden;
}


.area2{
    display: none;
}


.left{
    /* border: 1px solid pink; */
    width:50%;
    background: none;
    text-align: left;
    padding-top: 160px;
    /* padding-left: 30px; */

}

.right{
    /* border: 1px solid black; */
    width: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    color: white;

}

.left a{
    /* border:1px solid red ; */
    font-size: 43px;
    display: flex;
    width: 440px;
    margin-left: 40px;
    color: white;
}

.left2{
    /* border: 1px solid pink; */
    width:50%;
    background: none;
    text-align: left;
    padding-top: 130px;

}

.right2{
    /* border: 1px solid black; */
    width: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    color: white;

}

.box1{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 250px;
    height: 60px;
    background-color: white;
    display: flex;
    overflow: hidden;

}
.check{
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

}

.check img{
    /* width: 60%; */
    height: 60%;
}

.word{
    /* border:1px solid blue; */
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 23px;
    color: #905ec6;


}

.box2{
    border-radius: 10px;
    width: 250px;
    height: 60px;
    background-color: white;
    display: flex;
    overflow: hidden;
}
.box3{
    border-radius: 10px;
    width: 250px;
    height: 60px;
    background-color: white;
    display: flex;
    overflow: hidden;
}
.left2 a{
    /* border:1px solid red ; */
    font-size: 43px;
    display: flex;
    width: 400px;
    margin-left: 40px;
    color: white;

}

.compatible{
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
    margin-top: 190px;
    background: linear-gradient(180deg,rgba(102,48,195,.6) -140.3%,rgba(156,147,174,0) 105.41%);
    /* overflow: hidden; */
}

.cup{
    width: 100%;
    /* border: 1px solid blue; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cdown{
    width: 100%;
    /* border: 1px solid black; */
    height:350px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* align-items: center; */
}

.cup a{
    font-size: 30px;
    padding-top: 20px;
}


.section1{
     /* border: 2px solid lightblue; */
     width: 200px;
     height: 200px;
     margin-left: 60px;
     margin-right: 60px;

}

.upper{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: #404040;
}

.lower{
    /* border: 1px solid brown; */
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lower a{
    position: absolute;
    font-size: 19px;
    color: #404040;

}

.lower img{
    width: 100%;
    width: 160px;

}

.learn {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.learn a{
    font-size: 25px;
    color: #212529;
    /* text-decoration: none; */
}

.info{
    /* border: 1px solid black; */
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 220px;
}

.infoleft{
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;

}

/* .infoleft img{
    border: 1px solid red;
    height: 350px;
    padding-left: 150px;
    
} */

.inforight{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    /* padding-left: 30px; */

}


.rightupper{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 50%;
    display: flex;
}

.drightupper{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 50%;
    display: flex;
}



.rightupper a{
    /* border: 1px solid blue; */
    font-size: 55px;
    width: 450px;
    margin-top: 50px;
    padding-left: 40px;
}

.drightupper a{
    /* border: 1px solid blue; */
    font-size: 55px;
    width: 450px;
    margin-top: 50px;
    padding-left: 160px;
}

.rightlower{
    /* border: 1px solid green; */
    width: 100%;
    height: 50%;
    display: flex;
}

.drightlower{
    /* border: 1px solid green; */
    width: 100%;
    height: 50%;
    display: flex;
}

.rightlower a{
    /* border: 1px solid blue; */
    font-size: 21px;
    width: 550px;
    padding-left: 40px;
}

.drightlower a{
    /* border: 1px solid blue; */
    font-size: 21px;
    width: 550px;
    padding-left: 160px;
}

.end{
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    background: #3a4659;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.endtitle {
    font-size: 40px;
    font-weight: bold;
    /* border: 1px solid red; */
    text-align: center;
    width: 700px;
    color: white;
}

.endsubtext {
    margin-top: 10px;
    font-size: 35px;
    /* border: 1px solid blue; */
    text-align: center;
    width: 830px;
    color: #f4f5fa;
}


.tryend {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 240px;
    height: 70px;
    margin-top: 60px;
    border-radius: 10px;

}

.tryend a{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;                                     
    text-decoration: none;
    background: linear-gradient(274.12deg,#8b68c9,#622ac2 101.74%);
    color: white;
}


.tryend:hover {
    font-size: 21px;
    /* box-shadow:0px 0px 10px #8b68c9; */
    transform: scale(1.05);
    transition: 200ms;
}


/* afafasdfasdf */



.chat-bar-collapsible {
    /* border: 1px solid red; */
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 7px blueviolet;
    position: fixed;
    bottom: 400px;
    right: 15px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.collapsible {
    /* border: 1px solid red; */
    background-color: #622ac2;
    color: white;
    /* cursor: pointer; */
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 20px 20px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
    display: flex;
}

.close{ 
    margin-left: 180px;
    cursor: pointer;

}

.collapsible img {
    filter: invert(1);

}

#test2{
    display: none;
}

.content1 {
    /* border: 1px solid red; */
    max-height: 0;
    /* overflow: hidden; */
    margin-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    /* border: 1px solid red; */
    box-shadow: 0px 0px 7px blueviolet;
    width: 350px;
    border-radius:  0px 0px 20px 20px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 400px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
    /* border: 1px solid red; */
    /* background: red; */

}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 20px 20px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 99%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    /* border: 1px solid green; */
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
    margin-bottom: 10px;
    /* padding: 3px; */

}

.userText span {
    /* border: 1px solid blue; */

    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    /* border: 1px solid black; */
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    /* padding: 3px; */
    /* padding: 10px 10px 10px 10px; */
}

.botText span {
    /* border: 1px solid red; */
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    /* animation: floatup .5s forwards */
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}


.test{
    /* border: 1px solid red; */
    background-color: #622ac2;
    box-shadow: 0px 0px 7px blueviolet;
    width: 100px;
    height: 100px;
    /* margin-top: 607px;
    margin-left: 1350px; */
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 20;
    right: 20;

    
}

.test img{
    filter: invert(1);
    cursor: pointer;

    
}


::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    /* height: 10px; */
}
  
::-webkit-scrollbar-track {
    background: #edede9;        /* color of the tracking area */
    /* height: 10px; */
    border-radius: 20px;
    /* margin-top: 10px; */
    margin-bottom: 55px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #8d99ae;    /* color of the scroll thumb */
    border-radius: 40px;       /* roundness of the scroll thumb */
    /* height: 40px; */
}


