<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary display</title>
    <link rel="stylesheet" href="display.css">
</head>

<body>
    <div class="upper_banner">
        <div class="banleft"><a style="background: none;"> Summary </a></div>
        <a href="dashboard.html">
            <div class="ban_right"> <img src="img/back.png"> </div>
        </a>


    </div>

    <div class="lower_body">
        <h1> Metaverse: </h1>

        <div class="paragraph">

            <div class="para_in">

                A wiki (/ˈwɪki/ (listen) WIK-ee) is an online hypertext publication collaboratively edited and managed by its own audience, using a web browser. A typical wiki contains multiple pages for the subjects or scope of the project, and could be either open
                to the public or limited to use within an organization for maintaining its internal knowledge base. Wikis are enabled by wiki software, otherwise known as wiki engines. A wiki engine, being a form of a content management system, differs
                from other web-based systems such as blog software, in that the content is created without any defined owner or leader, and wikis have little inherent structure, allowing structure to emerge according to the needs of the users.[1] Wiki
                engines usually allow content to be written using a simplified markup language and sometimes edited with the help of a rich-text editor.[2] There are dozens of different wiki engines in use, both standalone and part of other software,
                such as bug tracking systems. Some wiki engines are free and open-source, whereas others are proprietary. Some permit control over different functions (levels of access); for example, editing rights may permit changing, adding, or removing
                material. Others may permit access without enforcing access control. Other rules may be imposed to organize content. There are hundreds of thousands of wikis in use, both public and private, including wikis functioning as knowledge management
                resources, note-taking tools, community websites, and intranets. Ward Cunningham, the developer of the first wiki software, WikiWikiWeb, originally described wiki as "the simplest online database that could possibly work".[3] "Wiki" (pronounced
                [wiki][note 1]) is a Hawaiian word meaning "quick".[4][5][6] The online encyclopedia project Wikipedia is the most popular wiki-based website, and is one of the most widely viewed sites in the world, having been ranked in the top twenty
                since 2007.[7] Wikipedia is not a single wiki but rather a collection of hundreds of wikis, with each one pertaining to a specific language. The English-language Wikipedia has the largest collection of articles: as of February 2020, it
                has over 6 million articles. Characteristics This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed. (March 2017)
                (Learn how and when to remove this template message) Ward Cunningham In their book The Wiki Way: Quick Collaboration on the Web, Ward Cunningham and co-author Bo Leuf described the essence of the Wiki concept:[8][9][page needed] "A wiki
                invites all users—not just experts—to edit any page or to create new pages within the wiki web site, using only a standard 'plain-vanilla' Web browser without any extra add-ons." "Wiki promotes meaningful topic associations between different
                pages by making page link creation intuitively easy and showing whether an intended target page exists or not." "A wiki is not a carefully crafted site created by experts and professional writers and designed for casual visitors. Instead,
                it seeks to involve the typical visitor/user in an ongoing process of creation and collaboration that constantly changes the website landscape." A wiki enables communities of editors and contributors to write documents collaboratively.
                All that people require to contribute is a computer, Internet access, a web browser, and a basic understanding of a simple markup language (e.g. MediaWiki markup language). A single page in a wiki website is referred to as a "wiki page",
                while the entire collection of pages, which are usually well-interconnected by hyperlinks, is "the wiki". A wiki is essentially a database for creating, browsing, and searching through information. A wiki allows non-linear, evolving, complex,
                and networked text, while also allowing for editor argument, debate, and interaction regarding the content and formatting.[10] A defining characteristic of wiki technology is the ease with which pages can be created and updated. Generally,
                there is no review by a moderator or gatekeeper before modifications are accepted and thus lead to changes on the website. Many wikis are open to alteration by the general public without requiring registration of user accounts. Many edits
                can be made in real-time and appear almost instantly online, but this feature facilitates abuse of the system. Private wiki servers require user authentication to edit pages, and sometimes even to read them. Maged N. Kamel Boulos, Cito
                Maramba, and Steve Wheeler write that the open wikis produce a process of Social Darwinism. "... because of the openness and rapidity that wiki pages can be edited, the pages undergo an evolutionary selection process, not unlike that which
                nature subjects to living organisms. 'Unfit' sentences and sections are ruthlessly culled, edited and replaced if they are not considered 'fit', which hopefully results in the evolution of a higher quality and more relevant page."[11]
                Editings

            </div>
        </div>
        <div class="line"></div>
    </div>

    <div class="details">
        <h2>Meeting Duration: 120 minutes</h2>
        <h2>Original length: 3000 words</h2>
        <h2>Summary Length: 500 words</h2>
        <h2>Created on: 6 January</h2>




    </div>






</body>

</html>