<html>

<head>
    <meta charset="UTF-8">
    <title>Upload Videos</title>
    
</head>

<body>

    <h1>Video Uploader</h1>
    <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Upload" />
    </form>

    <br><br>

    <br><br>
    </p>

</body>
<script>
    'undefined' === typeof _trfq || (window._trfq = []);
    'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
            'tccl.baseHost': 'secureserver.net'
        }, {
            'ap': 'cpbh-mt'
        }, {
            'server': 'p3plmcpnl487010'
        }, {
            'dcenter': 'p3'
        }, {
            'cp_id': '8437534'
        }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>
<script src='https://img1.wsimg.com/traffic-assets/js/tccl.min.js'></script>

</html>