<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary display</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/video.css' %}">
</head>

<body>
    <div class="upper_banner">
        <div class="banleft"><a style="background: none;"> Upload's </a></div>
        <a href="/dashboard/">
            <div class="ban_right" style="margin-left: 345px;"> <img src="{% static 'img/back.png'%}"> </div>
        </a>


    </div>

    <div class="lower_body">
        <h1> {{video.title}} </h1>

        <div class="paragraph">

            <div class="para_in">

                <video src="{{ video.video_file.url }}" controls></video>
            </div>
        </div>
        <div class="line"></div>
    </div>

    <div class="details">
        <!-- <h2>Meeting Duration: 120 minutes</h2>
        <h2>Original length: 3000 words</h2>
        <h2>Summary Length: 500 words</h2>
        <h2>Created on: 6 January</h2> -->
        <div class="tryend"><a href="{% url 'summary' video_id=video.id %}"> Summary </a></div>




    </div>






</body>

</html>